**/.git
**/.DS_Store
**/node_modules
apps/dqvietnam/vendor
apps/dqvietnam/public/media
apps/dqvietnam/public/videos
apps/dqvietnam/public/audio
apps/dqvietnam/public/images
apps/dqvietnam/public/download
apps/dqvietnam/dbbak
backup-db
**/*.mp4
**/*.avi
**/*.mov
**/*.sql
**/*.archive
.env
docker-compose.yml
docker-compose.dev.yaml
Dockerfile
README.md
