#notify-rotate {
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    display: none;
}

#notify-rotate img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slink {
    position: absolute;
    width: 100%;
    height: 100%;
}