// Setup nomalization:Begin

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  line-height: 1.4;
  color: #000;
  font-size: 22px;
  font-weight: 400;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.strong {
  font-weight: 700;
}

button,
a {
  cursor: pointer !important;
}

.img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.c-main .account-box .wrapper .right .form .btn {
  cursor: pointer;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex-left-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.space-112 {
  width: 100%;
  height: 112px;
}

.padding-bot-500 {
  padding-bottom: 500px !important;
}

.padding-top-168 {
  padding-top: 168px !important;
}

.section {
  padding: 68px 0;
}
.shadow-card {
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 12px 22px 44px rgba(51, 51, 136, 0.357);
}
.shadow-card-blur {
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 12px 22px 66px rgba(110, 110, 159, 0.1);
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-center {
  margin: 0 auto;
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 800;
  margin-bottom: 18px;
  text-transform: capitalize;
  font-size: 48px;
}
@media (max-width: 991.98px) {
  .title {
    font-size: 38px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .title {
    font-size: 32px;
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .title {
    font-size: 28px;
  }
}

.color-red {
  color: #f45234;
}

.color-white {
  color: #fff;
}
.color-1 {
  color: #f4aa1a;
}
.color-2 {
  color: #3cb6f4;
}
.color-3 {
  color: #ed444a;
}
.color-4 {
  color: #9140ff;
}
.color-5 {
  color: #366af6;
}
.color-6 {
  color: #ff65a5;
}
.color-7 {
  color: #43d78b;
}
.color-8 {
  color: #ff9041;
}
.color-blue {
  color: #107eff;
}

.color-bg-1 {
  background-color: #f4aa1a;
}
.color-bg-2 {
  background-color: #3cb6f4;
}
.color-bg-3 {
  background-color: #ed444a;
}
.color-bg-4 {
  background-color: #9140ff;
}
.color-bg-5 {
  background-color: #366af6;
}
.color-bg-6 {
  background-color: #ff65a5;
}
.color-bg-7 {
  background-color: #43d78b;
}
.color-bg-8 {
  background-color: #ff9041;
}
strong {
  font-weight: 600;
}

.padding-top-24 {
  padding-top: 24px;
}

.margin-top-86 {
  margin-top: 86px;
}
.margin-top-200 {
  margin-top: 200px;
}
.wrap-flex-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-maintain {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  color: #f45234;
  background-color: #fff;
  border: 1px solid #000;
  padding: 8px 32px;
  min-width: 88px;
  border-radius: 12px;
  margin: 12px 0;
  cursor: pointer;
  display: block;
  &:hover {
    color: #fff;
    background-color: #f45234;
  }
}

.btn-small {
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}

.btn {
  cursor: pointer;
}
a {
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #f45234;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.margin-bot-56 {
  margin-bottom: 56px;
}

.margin-top-110 {
  margin-top: 110px;
}

.item-list {
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
  .icon-check {
    width: 24px;
    display: inline-block;
  }
}
// Setup nomalization:End

//Header: begin
.c-header {
  .navbar {
    padding: 16px 0;
  }
  .account {
    padding-top: 12px;
    .btn-header {
      padding: 11px 16px;
      font-size: 18px;
      font-weight: 900;
      color: #fe3b35;
      border: 1px solid #fe3b35;
      background-color: #fff;
      min-width: 78px;
      border-radius: 10px;
      margin: 0 12px;
      text-decoration: none;
      cursor: pointer;
      text-shadow: 2px 2px 2px rgba(110, 110, 159, 0.1);
      box-shadow: 2px 2px 2px rgba(110, 110, 159, 0.1);
      transition: all 0.5s ease;
      &:hover,
      &:active {
        color: #fff;
        background-color: #fe3b35;
      }
    }
  }
}
//Header:end

//Footer: Begin
.img-bg {
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: -168px;
  margin-top: -500px;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    width: auto;
  }
}
.footer {
  padding-top: 200px;
  background-image: url("../images/background_footer.webp");
  background-position: top;
  background-size: cover;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
  .main-footer {
    padding-top: 48px;
  }
  .info {
    p {
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 8px;
      line-height: 1.6;
    }
  }
  .strong {
    font-weight: 700;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 22px 0 12px;
  }
  a {
    color: #fff;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    &:hover {
      text-decoration: none;
      color: #f45234;
    }
  }
  .footer-list {
    padding-bottom: 32px;
    .footer-item {
      line-height: 1.8;
    }
  }
  .right-footer-menu {
    padding-top: 18px;
  }

  .footer-bottom {
    padding-top: 48px;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    .copy-right {
    }
    .social {
      a {
        display: block;
        width: 32px;
        height: auto;
        &:nth-child(2) {
          margin-right: 16px;
        }
        img {
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  @media (max-width: 991.98px) {
  }
}
//Footer: End

//Home: Begin

.c-section__home-01 .holder a {
  text-transform: uppercase;
}

.c-section__home-04 {
  .container {
    width: unset;
    padding-left: 6.666666666666667vw;
    padding-right: 6.666666666666667vw;
  }
  padding-top: 168px;
  .title {
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
  }
  .group {
    margin-top: 48px;
    .item .wrapper .inner .info .title-card {
      margin: 0;
      padding: 0 0 32px 0;
      font-size: 32px;
      line-height: 1.2;
      font-weight: 700;
      text-decoration: none;
      opacity: 0.6;
    }
  }
  .group .item .wrapper:hover .inner .info .title-card {
    opacity: 1;
  }
}
.c-section__home-04 .group .item .wrapper .inner .info {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 62%;
  width: 100%;
  padding: 34px;
  height: 55%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.c-section__home-04 .group .item .wrapper .inner .info .description {
  display: none;
}

.c-section__home-04 .group .item .wrapper:hover .inner .info .description {
  display: block;
}
.c-section__home-04 .group .item .wrapper:hover .inner .info {
  top: 30%;
}
//Home: End

// NguoiHungDQ: Begin
.hero-page {
  .title {
    margin-top: 46px;
  }
  img {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .banner {
    margin-top: 30px;
    img {
      width: 100%;
    }
  }
  .respon-mobile {
    display: none;
  }
  .respon {
    display: block;
    img {
      display: block;
    }
  }

  .what {
    .list-item {
      background-image: url("../images/dqlagi/icon-list-item.webp");
      background-repeat: no-repeat;
      padding-left: 38px;
    }
  }
  .learn-content {
    background-image: url("../images/dqlagi/bg2.webp");
    background-position: center;
    background-size: cover;
    .title {
      margin: 0 auto;
      text-align: center;
    }
    .sub-title {
      margin: 0 auto;
      text-align: center;
      padding: 12px 0 48px;
    }
  }

  .method-learn {
    background-image: url("../images/dqlagi/bgcity1.webp");
    background-position: center;
    background-size: cover;
    padding-bottom: 0;
    .sub-title {
      font-size: 20px;
      font-weight: 400;
    }
    .mohinh {
      .item-step {
        margin-bottom: 56px;
      }
    }
    .img-desc {
      margin: 18px 12px auto;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
    .img-content {
      margin: 0 auto;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
    }
    .desc {
      .item-list {
        line-height: 1.6;
      }
    }
    .card-group {
      img {
        width: 100%;
      }
      margin: 46px auto 46px;
      .wrap-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 50px;
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
        .card-content {
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0px 32px;
          min-height: 400px;
          height: auto;
          &:nth-child(odd) {
            background-color: #fff;
          }
          &:nth-child(even) {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .give {
    padding-bottom: 160px;
    .img-loiich {
      margin: 0 auto;
      text-align: center;
      width: 60%;
      height: auto;
    }
    .give-item-content {
      padding: 100px 18px 18px;
      background-color: #fff;
      height: 380px;
      margin-top: -100px;
    }
  }
  .countdown {
    background-image: url("../images/dqlagi/moon.webp");
    background-position: center;
    background-size: cover;
    min-height: 1200px;
    padding-bottom: 500px;
    .wrap-countdown {
      width: 600px;
      .only-in {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        margin: 24px auto 0;
      }
      #countdown {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        .countdownTime {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        li {
          display: inline-block;
          list-style-type: none;
          padding: 1.4rem;
        }

        li span {
          display: block;
          font-size: 48px;
        }
      }
      input {
        display: block;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 18px 32px;
        width: 100%;
        margin: 24px 0;
        font-size: 22px;
      }
      .btn-register {
        width: 100%;
        margin: 24px 0 112px;
        display: block;
        padding: 22px 100px;
        background-color: #097ff5;
        color: #fff;
        border: 1px solid #097ff5;
        font-size: 22px;
        font-weight: 600;
        border-radius: 8px;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    .title {
      margin-top: 32px;
      font-size: 32px;
      padding: 0;
    }
    img {
      width: 85%;
    }
    .desc {
      font-size: 20px;
    }
    .learn-content {
      .sub-title {
        padding: 12px 0 48px;
      }
    }

    .method-learn {
      .sub-title {
        font-size: 20px;
      }
      .mohinh {
        .item-step {
          margin-bottom: 56px;
        }
      }
      .img-desc {
        margin: 18px 12px auto;
        font-size: 20px;
      }
      .img-content {
        font-size: 18px;
      }
      .desc {
        .item-list {
          line-height: 1.4;
          font-size: 16px;
        }
      }
      .card-group {
        img {
          width: 100%;
        }

        margin: 46px auto 46px;
        .card-content {
          padding: 0px 46px;
          height: 500px;
        }
      }
    }

    .give {
      padding-bottom: 160px;
      .img-loiich {
        width: 60%;
      }
      .give-item-content {
        padding: 100px 18px 18px;
        background-color: #fff;
        height: 450px;
        margin-top: -100px;
      }
    }
    .countdown {
      min-height: 1000px;
      .wrap-countdown {
        width: 600px;
        .only-in {
          font-size: 24px;
          margin: 24px auto 0;
        }
        #countdown {
          font-size: 20px;
          li span {
            display: block;
            font-size: 48px;
          }
        }
        input {
          padding: 18px 32px;
          margin: 24px 0;
          font-size: 22px;
        }
        .btn-register {
          margin: 24px 0 112px;
          display: block;
          padding: 22px 100px;
          font-size: 22px;
        }
      }
    }
  }
  .d-md-block {
    display: none;
  }
  .d-md-none {
    display: block;
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    .d-md-none {
      display: none;
    }
    .d-md-block {
      display: block;
    }
    .title {
      margin-top: 32px;
      font-size: 32px;
      padding: 0;
    }
    img {
      width: 60%;
    }
    .desc {
      font-size: 16px;
    }
    .what {
      .list-item {
      }
    }
    .learn-content {
      .title {
      }
      .sub-title {
        padding: 12px 0 48px;
      }
    }

    .method-learn {
      .sub-title {
        font-size: 20px;
      }
      .mohinh {
        .item-step {
          margin-bottom: 56px;
        }
      }
      .img-desc {
        margin: 18px 12px auto;
        font-size: 20px;
      }
      .img-content {
        font-size: 18px;
      }
      .desc {
        .item-list {
          line-height: 1.4;
          font-size: 16px;
        }
      }
      .card-group {
        img {
          width: 120%;
        }
        margin: 46px auto 46px;
        .card-content {
          padding: 0px 46px;
          height: 500px;
        }
      }
    }

    .give {
      padding-bottom: 160px;
      .img-loiich {
        width: 30%;
      }
      .give-item-content {
        padding: 100px 32px 0px;
        background-color: #fff;
        height: 300px;
        margin-top: -100px;
      }
    }
    .countdown {
      min-height: 1000px;
      .wrap-countdown {
        width: 600px;
        .only-in {
          font-size: 24px;
          margin: 24px auto 0;
        }
        #countdown {
          font-size: 20px;
          li span {
            display: block;
            font-size: 48px;
          }
        }
        input {
          padding: 18px 32px;
          margin: 24px 0;
          font-size: 22px;
        }
        .btn-register {
          margin: 24px 0 112px;
          display: block;
          padding: 22px 100px;
          font-size: 22px;
        }
      }
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
  }
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  }
}
// NguoiHungDQ: End

//Schools: Begin
.schools {
  .wrap-letter {
    margin: 0 88px;
  }
  .letter {
    .title-letter {
      font-size: 64px;
      font-weight: 700;
    }
    .avatar-img {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      .avatar {
        display: block;
        width: 360px;
      }
      .img-desc {
        text-align: justify;
        font-size: 24px;
        font-weight: 500;
      }
    }

    .content {
      color: #324a6d;
      font-size: 22px;
      line-height: 1.4;
      text-align: justify;
      .highlight {
        color: #2779f4;
        font-weight: 600;
      }
      .warning {
        color: red;
        font-weight: 600;
      }
    }
    .signature {
      color: #324a6d;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .signa-title {
        font-size: 24px;
        font-weight: 400;
      }
      .signa-desc {
        font-size: 28px;
        font-weight: 500;
      }
    }
  }

  .nangluc {
    background-image: url("../images/dqlagi/bg1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img {
      width: 100%;
    }
    .desc {
      padding-bottom: 24px;
      font-size: 22px;
    }
    .strong {
      font-size: 22px;
      font-weight: 700;
    }
    .list {
      font-size: 22px;
      padding-top: 24px;
      .item-list {
        span {
          font-size: 22px;
        }
        .icon-check {
          width: 24px;
        }
      }
    }
  }
  .documents {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }

    .item-biasach {
      margin: 0 auto;
      text-align: center;
      .img-biasach {
        width: 60%;
      }
    }
    .title {
      width: 100%;
      margin: 0 auto;
      padding-bottom: 48px;
      text-align: center;
      font-size: 44px;
    }
    .desc-img {
      font-size: 24px;
      font-weight: 600;
      color: #324a6d;
      margin: 18px 0 32px;
    }
    .bosach {
      margin: 24px auto;
      text-align: center;
    }
  }

  .plan {
    background-image: url("../images/dqlagi/bg2.webp");
    .title {
      text-align: center;
      padding-bottom: 48px;
    }
    .thoikhoabieu {
      margin: 0 auto;
      text-align: center;
      .box-plan {
        padding: 24px 12px;
        margin: 12px;
      }
      .box-title {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-weight: 700;
        height: 150px;
        .box-title-inner {
          color: #fff;
          font-size: 24px;
        }
      }
      .box-content {
        background-color: #fff;
        border-radius: 12px;
        color: #5f5f5f;
        font-size: 24px;
        font-weight: 400;
        height: 120px;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  .reports {
    .report {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-right: 72px;
      .desc {
        font-size: 22px;
        text-align: justify;
      }
    }
    img {
      width: 80%;
      height: auto;
    }
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    .title {
      font-size: 42px;
    }
    .desc {
      font-size: 18px;
    }
    .item-title {
      font-size: 24px;
    }
    .item-desc {
      font-size: 18px;
    }
    .title-letter {
      font-size: 48px;
    }
    .img-desc {
      font-size: 18px;
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    .respon {
      display: none;
    }
    .respon-mobile {
      display: block;
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
  }
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  }
}
//Schools: End

//Parents page: Begin
.parents {
  .banner {
    background-image: url("../images/parents/banner.webp");
    height: 762px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .fan {
      z-index: 1;
      position: absolute;
      top: 40%;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .fan-item {
        margin: 48px;
        width: 300px;
        img {
          width: 100%;
          z-index: 1;
        }
      }
    }
    .keywords {
      z-index: 999;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .keywords-inner {
        margin: auto;
        text-align: center;
        z-index: 999;
        width: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
        .key-item {
          z-index: 999;
          font-size: 120px;
          font-weight: 700;
        }
      }
      .key-desc {
        margin: auto;
        text-align: center;
        z-index: 999;
        font-size: 28px;
        font-weight: 600;
      }
    }
  }
  .sotay-group {
    background-image: url("../images/dqlagi/bg1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    .sotay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-right: 72px;
      .desc {
        font-size: 22px;
        text-align: justify;
      }
    }
    .img-wrap {
      margin: 0 auto;
      text-align: center;
      img {
        width: 80%;
        height: auto;
      }
    }
  }
  .learn-content {
    .title {
      margin: 0 auto;
      text-align: center;
      padding-bottom: 54px;
    }
  }
  .ruiro {
    background-image: url("../images/dqlagi/bg2.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .margin-bot-200 {
      margin-bottom: -200px;
    }
    img {
      width: 100%;
    }
  }
  .why {
    .title {
      padding-bottom: 28px;
    }
    .why-box {
      .why-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        img {
          width: 70px;
          height: auto;
        }
      }
      .why-item-content {
        padding-left: 24px;
        color: #324a6d;
        font-size: 22px;
        font-weight: 400;
      }
    }
    .why-img {
      display: block;
      margin-top: 250px;
      width: 100%;
      z-index: -1;
    }
    .wrap-why {
      width: 100%;
      display: flex;
      justify-content: center;
      .wrap-why-inner {
        width: 70%;
      }
    }
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    .banner {
      .fan {
        .fan-item {
          img {
          }
        }
      }
      .keywords {
        .keywords-inner {
          width: 67%;
          .key-item {
            font-size: 100px;
          }
        }
        .key-desc {
          font-size: 28px;
        }
      }
    }
    .sotay-group {
      padding: 80px 0;
      .sotay {
        padding-right: 54px;
        .title {
          font-size: 42px;
        }
        .desc {
          font-size: 20px;
        }
      }
      .img-wrap {
        img {
        }
      }
    }
    .learn-content {
      .title {
        padding-bottom: 54px;
      }
    }
    .ruiro {
      .margin-bot-200 {
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
    }
    .why {
      .title {
        padding-bottom: 28px;
      }
      .why-box {
        .why-item {
          margin-bottom: 24px;
          img {
            width: 70px;
            height: auto;
          }
        }
        .why-item-content {
          padding-left: 24px;
          font-size: 22px;
        }
      }
      .why-img {
      }
      .wrap-why {
        width: 100%;
        .wrap-why-inner {
          width: 100%;
        }
      }
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    .banner {
      .fan {
        .fan-item {
          img {
          }
        }
      }
      .keywords {
        .keywords-inner {
          width: 67%;
          .key-item {
            font-size: 80px;
          }
        }
        .key-desc {
          font-size: 28px;
        }
      }
    }
    .sotay-group {
      padding: 80px 0;
      .sotay {
        padding-right: 54px;
        .title {
          font-size: 42px;
        }
        .desc {
          font-size: 20px;
        }
      }
      .img-wrap {
        img {
        }
      }
    }
    .learn-content {
      .title {
        padding-bottom: 54px;
      }
    }
    .ruiro {
      .margin-bot-200 {
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
    }
    .why {
      .title {
        padding-bottom: 28px;
      }
      .why-box {
        .why-item {
          margin-bottom: 24px;
          img {
            width: 70px;
            height: auto;
          }
        }
        .why-item-content {
          padding-left: 24px;
          font-size: 22px;
        }
      }
      .why-img {
      }
      .wrap-why {
        width: 100%;
        .wrap-why-inner {
          width: 100%;
        }
      }
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .banner {
      .fan {
        .fan-item {
          img {
          }
        }
      }
      .keywords {
        .keywords-inner {
          width: 67%;
          .key-item {
            font-size: 60px;
          }
        }
        .key-desc {
          font-size: 28px;
        }
      }
    }
    .sotay-group {
      padding: 42px 0;
      .sotay {
        padding-right: 54px;
        .title {
          font-size: 42px;
        }
        .desc {
          font-size: 20px;
        }
      }
      .img-wrap {
        img {
        }
      }
    }
  }
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    .banner {
      max-height: 300px;
      .fan {
        .fan-item {
          img {
          }
        }
      }
      .keywords {
        .keywords-inner {
          width: 67%;
          .key-item {
            font-size: 48px;
          }
        }
        .key-desc {
          font-size: 28px;
        }
      }
    }
    .sotay-group {
      padding: 32px 0;
      .sotay {
        padding-right: 54px;
        .title {
          font-size: 42px;
        }
        .desc {
          font-size: 20px;
        }
      }
      .img-wrap {
        img {
        }
      }
    }
    .learn-content {
      .title {
        padding-bottom: 54px;
      }
    }
    .ruiro {
      .margin-bot-200 {
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
    }
    .why {
      .title {
        padding-bottom: 28px;
      }
      .why-box {
        .why-item {
          margin-bottom: 24px;
          img {
            width: 70px;
            height: auto;
          }
        }
        .why-item-content {
          padding-left: 24px;
          font-size: 22px;
        }
      }
      .why-img {
        display: none;
      }
      .wrap-why {
        width: 100%;
        .wrap-why-inner {
          width: 100%;
        }
      }
    }
  }
}
//Parents page: End

//Supports: Begin
#supports {
  margin-bottom: 180px !important;
  .sp-content {
    display: flex;
  }
  .tabs {
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .tabs .line {
    position: absolute;
    // left: 0;
    // bottom: 0;
    // width: 0;
    // height: 6px;
    top: 0;
    right: 0;
    width: 0px;
    height: 0;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
  }
  .tab-item {
    padding: 32px 0;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    text-align: start;
    color: #f45234;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .tab-item:hover {
    color: red;
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
  }
  .tab-item.active {
    width: 100%;
    opacity: 1;
  }
  .tab-content {
    padding-left: 32px;
    width: calc(100% - 300px);
  }
  .tab-pane.active {
    display: block;
  }
  .tab-pane {
    color: #324a6d;
    display: none;
    img {
      max-width: 100%;
      display: block;
    }
    .desc {
      font-size: 22px;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 12px;
    }
    .divider {
      width: 100%;
      height: 1px;
      border-bottom: 1px solid #555;
      box-shadow: 4px 4px 4px rgba(51, 51, 136, 0.357);
      margin: 42px auto;
    }
    .strong-title {
      text-transform: uppercase;
      font-weight: 600;
    }
    .note {
      font-style: italic;
      font-size: 22px;
      font-weight: 400;
    }
    .step-title {
      font-size: 32px;
      font-weight: 700;
      color: #4764af;
      margin-bottom: 22px;
    }
    .box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .icon {
      width: 56px;
      height: 56px;
    }
    .item-title {
      font-size: 18px;
      font-weight: 400;
      padding-top: 18px;
      padding-left: 6px;
    }
  }

  @media (max-width: 1399.98px) {
    .tab-item {
      font-size: 38px;
      padding: 22px 0;
    }
    .tab-pane {
      .step-title {
        font-size: 28px;
      }
      .desc {
        font-size: 18px;
      }
      .note {
        font-size: 18px;
      }
      .icon {
        width: 28px;
        height: 28px;
      }
      .strong-title {
        font-size: 20px;
      }
      .divider {
        margin: 28px auto;
      }
    }
    .tabs {
      width: 260px;
    }
  }
  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    .tab-item {
      font-size: 32px;
      padding: 22px 0;
    }
    .tab-pane {
      .step-title {
        font-size: 32px;
      }
      .desc {
        font-size: 18px;
      }
      .note {
        font-size: 18px;
      }
      .icon {
        width: 32px;
        height: 32px;
      }
      .strong-title {
        font-size: 20px;
      }
      .divider {
        margin: 32px auto;
      }
    }
    .tabs {
      width: 300px;
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    .schools .wrap-letter {
      margin: 0 auto;
    }
    .tab-item {
      font-size: 24px;
      padding: 16px 0;
    }
    .tab-pane {
      .step-title {
        font-size: 32px;
      }
      .desc {
        font-size: 18px;
      }
      .note {
        font-size: 18px;
      }
      .icon {
        width: 32px;
        height: 32px;
      }
      .strong-title {
        font-size: 20px;
      }
      .divider {
        margin: 32px auto;
      }
    }
    .tabs {
      width: 200px;
    }
    .tab-content {
      width: 100%;
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .sp-content {
      width: 100%;
    }
    .tab-item {
      font-size: 24px;
      padding: 16px 0;
    }
    .tab-pane {
      .step-title {
        font-size: 24px;
      }
      .desc {
        font-size: 16px;
      }
      .note {
        font-size: 16px;
      }
      .icon {
        width: 24px;
        height: 24px;
      }
      .strong-title {
        font-size: 18px;
      }
      .divider {
        margin: 24px auto;
      }
    }
    .tabs {
      width: 150px;
    }
    .tab-content {
      width: 100%;
    }
  }
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    .sp-content {
      width: 100%;
    }
    .tab-item {
      font-size: 20px;
      padding: 12px 0;
    }
    .tab-pane .step-title {
      font-size: 20px;
    }
    .tabs {
      width: 150px;
    }
  }
}
//Supports: End

//policy: begin
.policy {
  font-family: "Inter", sans-serif;
  color: #324a6d;
  text-align: justify;
  .policy-wrap {
    width: 85%;
    .title {
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      color: #4764af;
      padding-bottom: 24px;
      text-align: center;
    }
    .content {
      padding-bottom: 48px;
    }
    .heading {
      font-size: 22px;
      font-weight: 700;
    }
    .content-inner {
      font-size: 22px;
      font-weight: 400px;
      padding: 12px 0;
      a {
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
  @media (max-width: 991.98px) {
    .policy-wrap {
      width: 95%;
    }
    .content .content-inner {
      font-size: 18px;
    }
  }
  @media (max-width: 576.98px) {
    .policy-wrap {
      width: 100%;
    }
    .content .content-inner {
      font-size: 16px;
    }
  }
}

//policy: end

.skills-8 {
  .box {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 24px;
    height: calc(100% - 24px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    .inner-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon {
        width: 110px;
        margin-right: 12px;
        height: auto;
        img {
          width: 110px;
          max-width: 110px;
        }
      }
      .txt {
        display: inline-block;
        .item-title {
          font-size: 32px;
          margin: 0;
          font-weight: 700;
        }
        .item-desc {
          font-size: 20px;
          margin: 0 auto;
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    .box {
      margin-bottom: 24px;
      height: calc(100% - 24px);
      .inner-box {
        .txt {
          .item-title {
            font-size: 24px;
          }
          .item-desc {
            font-size: 18px;
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
  }
  @media (max-width: 576.98px) {
    .box {
      margin-bottom: 24px;
      height: calc(100% - 24px);
      .inner-box {
        .txt {
          .item-title {
            font-size: 22px;
          }
          .item-desc {
            font-size: 16px;
          }
        }
      }
    }
  }
}
