$yellow: #f7c755;
$orange: #f3783e;
$blue: #477ce6;
$title: #4764af;
$yellow: #f7d155;
$red: #ee4646;
$green: #5ec56d;
header {
  background-image: url("../img/report/banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 120px;
  display: flex;
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  box-shadow: 0 8px 68px 8px rgba(101, 150, 204, 0.68);

  h2 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

  .btn-download {
    width: fit-content;
    padding: 5px 30px;
    background: white;
  }

  .info {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
}

.txt-orange {
  color: $orange;
}

.sidebar {
  padding: 170px 0;
  position: fixed;
  background: #0b58a2;
  width: 180px;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;

  .tabs {
    list-style: none;
    padding-left: 0;
    padding-right: 25px;
    border-bottom: unset;

    button {
      display: flex;
      align-items: center;
      min-height: 80px;
      margin-bottom: 15px;
      text-align: left;
      padding: 15px 10px;
      background: white;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      cursor: pointer;

      &.active, &:hover {
        color: darkorange;
      }
    }
  }
}

.title {
  text-transform: uppercase;
  font-size: 20px;

  &.text-bold {
    font-weight: bold;
  }
}

.txt {
  color: $title;
}

.orange {
  color: $orange;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.bg-orange {
  background: $orange;
}

.bg-red {
  background: $red;
}

.bg-yellow {
  background: $yellow;
}

.bg-green {
  background: $green;
}

.tab-content {
  padding: 200px 0 0 240px;
  min-height: 100vh;

  .total-point {
    width: 250px;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background: #f3783e;
    padding: 20px 20px;

    h4 {
      color: white;
      font-weight: bold;
      margin-bottom: -20px;
    }

    span {
      font-weight: bold;
      font-size: 56px;
      color: white;
    }
  }

  .point-rule {
    .title {
      font-weight: bold;
      font-size: 20px;
      color: $title;
      text-align: center;
    }

    .line-wrap {
      width: 100%;

      .line {
        height: 18px;
        width: 100%;
        text-align: center;
        position: relative;

        span {
          position: absolute;
          left: 0;
          top: 35px;
          right: 0;
          margin: auto;
        }

        &.yellow {
          background: $yellow;
          color: $yellow;
        }

        &.green {
          background: $green;
          position: relative;
          color: $green;

          &:after {
            content: '';
            right: 0;
            position: absolute;
            width: 2px;
            height: 35px;
            top: -7.5px;
            background: $yellow;
          }
        }
      }

      .split {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 0;
        margin-top: -25px;

        span {
          height: 35px;
          width: 2px;
          background: $yellow;
        }
      }

      .text {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 20px;
        margin-bottom: 10px;

        span {
          &:nth-child(2) {
            padding-left: 10px;
          }

          &:last-child {
            padding-right: 20px;
          }
        }
      }
    }
  }

  .info-level {
    .text {
      color: $title;
      font-size: 16px;
    }

    .level {
      position: relative;

      p {
        font-weight: 700;
        font-size: 24px;
        color: $title;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        margin: auto;
      }

      .badge {
        margin: auto;
        width: 200px;
        height: 100px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.yellow {
          background: $yellow;
        }

        &.blue {
          background: $blue;
        }

        &.red {
          background: $red;
        }

        &.orange {
          background: $orange;
        }
      }
    }
  }
}

.task-detail {
  padding-right: 50px;
  padding-bottom: 100px;

  .point {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: relative;
    background: #ccc;


    &:after {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 235px;
      height: 235px;
      position: absolute;
      border-radius: 100%;
      content: '';
      z-index: 0;
    }


    &.yellow {
      h4, span {
        color: $yellow;
      }

      &:after {
        background: $yellow;
      }
    }

    &.blue {
      h4, span {
        color: $blue;
      }

      &:after {
        background: $blue;
      }
    }

    &.red {
      h4, span {
        color: $red;
      }

      &:after {
        background: $red;
      }
    }

    &.orange {
      h4, span {
        color: $orange;
      }

      &:after {
        background: $orange;
      }
    }

    &:before {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 175px;
      height: 175px;
      position: absolute;
      border-radius: 100%;
      background: #ccc;
      content: '';
      z-index: 1;
    }

    .content {
      width: 160px;
      height: 160px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 100%;
      content: '';
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: white;

      h4 {
        font-size: 70px;
        font-weight: bold;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .point-desc {
    display: flex;
    justify-content: space-between;

    .point-item {
      padding: 10px;
      color: white;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(100% / 4);
      text-align: center;
      margin: 0 5px;

      span:first-child {
        font-weight: bold;
      }
    ;

      &:first-child {
        background: $red;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:nth-child(2) {
        background: $orange;
      }

      &:nth-child(3) {
        background: $yellow;
      }

      &:last-child {
        background: $green;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
